<footer class="footer has-background-dark">
	<div class="content pt-6 has-text-white has-text-centered is-size-7 is-lowercase has-text-weight-bold">
    	<p>
      		&copy 1890 Ventures
    	</p>
  	</div>
</footer>