<%= render "navbar" %>

<div class="hero-body">
  <div class="container">
    <div class="columns is-vcentered mb-6">
      <div class="column is-4 has-text-centered-mobile">
        <strong>telephone</strong>
        <br>
        <small>
          (000) 000-0000
        </small>
      </div>
      <div class="column has-text-right has-text-centered-mobile">
        <%= image_tag "phone.png" %>
      </div>
    </div>

    <div class="columns is-vcentered reverse-columns mt-6">
      <div class="column is-8">
        <%= image_tag "mail.png" %>
      </div>
      <div class="column has-text-right has-text-centered-mobile">
        <strong>electronic mail</strong> 
        <br> 
        <small>
          howdy@1890ventures.com
        </small>
      </div>
    </div>
  </div>
</div>